.mypost {
    padding-block: clamp(1.25rem, 0.4643rem + 3.9286vw, 4rem);
}

.mypost__container {
    max-width: 1024px;
}

.mypost__title {
    margin-bottom: clamp(1.25rem, 0.4643rem + 3.9286vw, 4rem);
}

.mypost__list {
}

.mypost__list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: clamp(1.875rem, 1.2679rem + 3.0357vw, 4rem);
}

.mypost__img {
    
}

.mypost__item-box {
    max-width: 580px;
}

.mypost__item-before-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.19em;
    text-transform: uppercase;
    color: var(--purple);
}

.mypost__item-title {
    margin: 20px 0;
}

.mypost__text {}