.privacy {
    background-color: var(--lavender);
    margin-bottom:  clamp(0.9375rem, 0.0625rem + 4.375vw, 4rem);
}
.privacy__container {
    text-align: center;
    padding-block: clamp(1.875rem, 0.9821rem + 4.4643vw, 5rem);
}
.privacy__title {
}
.privacy__text {
}